*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    overflow-x: hidden;
  }

  /* ----------NAVBAR ---------*/
  .navbar {
    background-color: black;
  }

  .navbar-brand img {
    height: 40px;
  }

  .nav-link {
    color: rgb(189, 189, 189) !important;
    margin: 0 10px;
    font-size: 1.05rem !important;
  }

  .nav-link:hover {
    color: #a2ffa2;
  }

  /* ------------ DROP-DOWN MENU---------- */
  .dropdown-menu{
    position: absolute;
    bottom: 0;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.6) !important;
    backdrop-filter: blur(6px);
    border-radius: 0px 0px 50px 50px !important;
    padding: 0 170px 0px !important;
  }

  .dropdown-menu h5 {
    font-weight: bold;
    color: #d2d2d2;
    flex-wrap: nowrap;
  }

  .dropdown-menu a {
    display: block;
    color: #949494;
    margin: 0.5rem 0;
    text-decoration: none;
  }

  .dropdown-menu a:hover {
    color: #00ff00;
  }

  .dropdown-menu .col{
    /* border: 1px solid white; */
    padding-inline: 4.5rem;
    padding-block: 40px;
  }

  /*-------- HERO-SECTION---------- */
  .hero-section {
    text-align: center;
    padding: 100px 0px 0px;
    background-color: black;
    position: relative;
  }

  .hero-section h1 {
    font-size: 4.5rem;
    color: #8eff8e;
    font-weight: bold;
 
  }

  .hero-section p {
    font-size: 1.6rem;
    color: #d4d4d4;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: 700;
   
  }

  .hero-button {
    margin-top: 20px;
    padding: 12px 30px;
    border: 2px solid white;
    border-radius: 30px;
    background: transparent;
    color: white;
    transition: 0.3s;
    font-weight: 600;
  }

  .hero-button:hover {
    background: #8eff8e;
    color: black;
    border-color: #8eff8e;
  }

  .equalizer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    height: 400px;
  }

  .bar {
    width:10vw ;
    background: linear-gradient(to top, #8eff8e, transparent);
    
  }
  .equalizer :nth-child(1) {
    height: 500px;
  }
  .equalizer :nth-child(2) {
    height: 400px;
  }

  .equalizer :nth-child(3) {
    height: 300px;
  }
  .equalizer :nth-child(4) {
    height: 200px;
  }

  .bar:nth-child(5) {
    height: 150px;
  }

  .equalizer :nth-child(6) {
    height: 150px;
  }
  .equalizer :nth-child(7) {
    height: 200px;
  }

  .equalizer :nth-child(8) {
    height: 300px;
  }
  .equalizer :nth-child(9) {
    height: 400px;
  }

  .bar:nth-child(10) {
    height: 500px;
  }

  